<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opcVis.dao.ItemConfigMapper" >
  <resultMap id="BaseResultMap" type="com.opcVis.model.ItemConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group" property="group" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="item" property="item" jdbcType="VARCHAR" />
    <result column="data_base" property="dataBase" jdbcType="INTEGER" />
    <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    <result column="tag" property="tag" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="form_index" property="formIndex" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group, name, item, data_base, table_name, tag, value, form_index, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.opcVis.model.ItemConfig" >
    insert into item_config (id, group, name, 
      item, data_base, table_name, 
      tag, value, form_index, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{group,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{item,jdbcType=VARCHAR}, #{dataBase,jdbcType=INTEGER}, #{tableName,jdbcType=VARCHAR}, 
      #{tag,jdbcType=INTEGER}, #{value,jdbcType=VARCHAR}, #{formIndex,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.opcVis.model.ItemConfig" >
    insert into item_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="group != null" >
        group,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="item != null" >
        item,
      </if>
      <if test="dataBase != null" >
        data_base,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="formIndex != null" >
        form_index,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="group != null" >
        #{group,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="dataBase != null" >
        #{dataBase,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="formIndex != null" >
        #{formIndex,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.opcVis.model.ItemConfig" >
    update item_config
    <set >
      <if test="group != null" >
        group = #{group,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        item = #{item,jdbcType=VARCHAR},
      </if>
      <if test="dataBase != null" >
        data_base = #{dataBase,jdbcType=INTEGER},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="formIndex != null" >
        form_index = #{formIndex,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opcVis.model.ItemConfig" >
    update item_config
    set group = #{group,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      item = #{item,jdbcType=VARCHAR},
      data_base = #{dataBase,jdbcType=INTEGER},
      table_name = #{tableName,jdbcType=VARCHAR},
      tag = #{tag,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      form_index = #{formIndex,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>